In [1]:
import mysql.connector as connection
import pandas as pd
import pymysql
import random

In [2]:
# PARA CONECTAR CUALQUIER BD RELACIONALES
usuario = 'root'        # completar usuario (dato Workbench)
contra = 'root'         # completar contraseña  (dato Workbench)
dominio = 'localhost'   # completar dominio (dato Workbench)
puerto = '3306'         # completar puerto (dato Workbench)
db = 'academia'

In [3]:
conn = pymysql.connect(host = dominio, user = usuario, passwd = contra, db = db)

In [4]:
cur = conn.cursor()

In [5]:
# VALORES TABLA ALUMNO

# Extracción datos de excel
df_alumno = pd.read_excel("datos.xlsx",sheet_name = "alumnos")
nombre_alumnos = df_alumno['nombre'].values
apellido_alumnos = df_alumno['apellido'].values


# Lista de tuplas con los valores de alumnos
alumnos = list()
count = 1
tlf_ant = 637830001

while count!= 100:
    tlf = tlf_ant+3
    tupla_alumnos = tuple()
    if count <= 25:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2021-09-10', '2022-06-15')
    else:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2022-09-10', None)
    tlf_ant = tlf
    alumnos.append(tupla_alumnos)
    count += 1

In [6]:
# CARGA DE VALORES ALUMNO

operacion = 'INSERT INTO alumno (alumno_id, nombre, apellido, telefono, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, alumnos)
conn.commit()

IntegrityError: (1062, "Duplicate entry '1' for key 'alumno.PRIMARY'")

In [ ]:
# VALORES TABLA PROFESOR

# Extracción datos de excel
df_profesor = pd.read_excel("datos.xlsx",sheet_name = "profesores")
nombre_profesores = df_profesor['nombre'].values
apellido_profesores = df_profesor['apellido'].values

# Lista de tuplas con los valores de profesores
profesores = list()
count = 1

while count!= 20:
    tupla_profesores = tuple()
    nombre = random.choice(nombre_profesores)
    apellido = random.choice(apellido_profesores)
    mail = nombre.replace(' ','').lower() + '.' + apellido.replace(' ','').lower() + '@academia.com'
    if count <= 25:
        tupla_profesores = (count, nombre, apellido, mail, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_profesores = (count, nombre, apellido, mail, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_profesores = (count, nombre, apellido, mail, '2021-09-10', '2022-06-15')
    else:
        tupla_profesores = (count, nombre, apellido, mail, '2022-09-10', None)
    profesores.append(tupla_profesores)
    count += 1

[(1,
  'Paula',
  'Lopez Alonso',
  'paula.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (2,
  'Alejandro',
  'Lopez Alonso',
  'alejandro.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (3,
  'Almudena',
  'Roble del Amo',
  'almudena.robledelamo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (4,
  'Alejandro',
  'Lopez Alonso',
  'alejandro.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (5,
  'Almudena',
  'Gomez de Robledo',
  'almudena.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (6,
  'Aurora',
  'Romero Garcia',
  'aurora.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (7,
  'Alejandro',
  'Garcia Noble',
  'alejandro.garcianoble@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (8,
  'Paula',
  'Romero Garcia',
  'paula.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (9,
  'Almudena',
  'Gomez de Robledo',
  'almudena.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (10,
  'Fernando',
  'Romero Garcia',
  'fernando.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (11,
  'Alejandro',
  'Roble del Amo',
  'alejandro.robledelamo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (12,
  'Alejandro',
  'Diaz Serrano',
  'alejandro.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (13,
  'Paula',
  'Gomez de Robledo',
  'paula.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (14,
  'Alejandro',
  'Diaz Serrano',
  'alejandro.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (15,
  'Pablo',
  'Diaz Serrano',
  'pablo.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (16,
  'Fernando',
  'Diaz Serrano',
  'fernando.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (17,
  'Pablo',
  'Lopez Alonso',
  'pablo.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (18,
  'Alejandro',
  'Gomez de Robledo',
  'alejandro.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (19,
  'Paula',
  'Lopez Alonso',
  'paula.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15')]

In [ ]:
# CARGA DE VALORES PROFESOR

operacion = 'INSERT INTO profesor (profesor_id, nombre, apellido, mail, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, profesores)
conn.commit()

In [ ]:
# DATOS ASIGNATURAS

asignatura = [(1,'LENGUA', '2021-09-10', '2022-06-15'),
                (2,'MATEMATICAS', '2021-09-10', '2022-06-15'),
                (3, 'FILOSOFIA', '2021-09-10', '2022-06-15'),
                (4, 'HISTORIA', '2021-09-10', '2022-06-15'),
                (5, 'PLASTICA', '2021-09-10', '2022-06-15'),
                (6, 'CIENCIAS NATURALES', '2021-09-10', '2022-06-15')
                ]

[(1, 'LENGUA', '2021-09-10', '2022-06-15'),
 (2, 'MATEMATICAS', '2021-09-10', '2022-06-15'),
 (3, 'FILOSOFIA', '2021-09-10', '2022-06-15'),
 (4, 'HISTORIA', '2021-09-10', '2022-06-15'),
 (5, 'PLASTICA', '2021-09-10', '2022-06-15'),
 (6, 'CIENCIAS NATURALES', '2021-09-10', '2022-06-15')]

In [ ]:
# CARGA DATOS ASIGNATURAS

operacion = 'INSERT INTO asignatura (asignatura_id, nombre, fecha_inicio, fecha_fin) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asignatura)
conn.commit()

In [ ]:
# DATOS ASIG_ALUMNOS

alumno_id = list()
for i in alumnos:
    alumno_id.append(i[0])

asig_alumnos = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 20:
        tupla_asig_alum = (count, random.choice(alumno_id), asig_ind[0], random.randint(1,10))
        count += 1
        count_while += 1
        asig_alumnos.append(tupla_asig_alum)

[(1, 79, 1, 6),
 (2, 57, 1, 9),
 (3, 43, 1, 5),
 (4, 40, 1, 8),
 (5, 69, 1, 2),
 (6, 35, 1, 1),
 (7, 47, 1, 7),
 (8, 7, 1, 10),
 (9, 69, 1, 1),
 (10, 33, 1, 4),
 (11, 99, 1, 3),
 (12, 73, 1, 9),
 (13, 32, 1, 10),
 (14, 19, 1, 5),
 (15, 90, 1, 7),
 (16, 57, 1, 2),
 (17, 39, 1, 2),
 (18, 72, 1, 2),
 (19, 67, 1, 5),
 (20, 89, 1, 2),
 (21, 97, 2, 9),
 (22, 48, 2, 10),
 (23, 8, 2, 4),
 (24, 29, 2, 4),
 (25, 93, 2, 8),
 (26, 97, 2, 6),
 (27, 29, 2, 2),
 (28, 65, 2, 8),
 (29, 42, 2, 6),
 (30, 80, 2, 5),
 (31, 38, 2, 2),
 (32, 94, 2, 3),
 (33, 81, 2, 3),
 (34, 80, 2, 3),
 (35, 80, 2, 10),
 (36, 85, 2, 5),
 (37, 81, 2, 3),
 (38, 36, 2, 5),
 (39, 58, 2, 2),
 (40, 90, 2, 5),
 (41, 31, 3, 2),
 (42, 83, 3, 5),
 (43, 8, 3, 7),
 (44, 21, 3, 6),
 (45, 89, 3, 6),
 (46, 40, 3, 6),
 (47, 43, 3, 9),
 (48, 70, 3, 1),
 (49, 38, 3, 3),
 (50, 25, 3, 5),
 (51, 23, 3, 1),
 (52, 73, 3, 3),
 (53, 13, 3, 7),
 (54, 79, 3, 9),
 (55, 18, 3, 3),
 (56, 21, 3, 10),
 (57, 25, 3, 9),
 (58, 27, 3, 7),
 (59, 81, 3, 4),
 (60, 60, 3, 6),
 (61, 43, 4, 6),
 (62, 30, 4, 1),
 (63, 50, 4, 2),
 (64, 32, 4, 3),
 (65, 31, 4, 9),
 (66, 23, 4, 4),
 (67, 16, 4, 3),
 (68, 74, 4, 2),
 (69, 1, 4, 6),
 (70, 91, 4, 2),
 (71, 11, 4, 6),
 (72, 31, 4, 9),
 (73, 76, 4, 2),
 (74, 56, 4, 10),
 (75, 24, 4, 9),
 (76, 44, 4, 3),
 (77, 61, 4, 2),
 (78, 16, 4, 6),
 (79, 1, 4, 2),
 (80, 92, 4, 7),
 (81, 37, 5, 5),
 (82, 64, 5, 8),
 (83, 73, 5, 1),
 (84, 90, 5, 3),
 (85, 60, 5, 10),
 (86, 50, 5, 1),
 (87, 11, 5, 7),
 (88, 23, 5, 3),
 (89, 28, 5, 5),
 (90, 17, 5, 5),
 (91, 1, 5, 1),
 (92, 13, 5, 2),
 (93, 85, 5, 10),
 (94, 56, 5, 9),
 (95, 87, 5, 5),
 (96, 49, 5, 4),
 (97, 68, 5, 6),
 (98, 10, 5, 6),
 (99, 58, 5, 7),
 (100, 24, 5, 8),
 (101, 33, 6, 5),
 (102, 1, 6, 9),
 (103, 89, 6, 5),
 (104, 94, 6, 9),
 (105, 55, 6, 1),
 (106, 67, 6, 5),
 (107, 86, 6, 4),
 (108, 5, 6, 9),
 (109, 71, 6, 2),
 (110, 23, 6, 1),
 (111, 79, 6, 1),
 (112, 17, 6, 4),
 (113, 39, 6, 10),
 (114, 12, 6, 4),
 (115, 53, 6, 4),
 (116, 57, 6, 6),
 (117, 96, 6, 8),
 (118, 75, 6, 2),
 (119, 30, 6, 7),
 (120, 76, 6, 3)]

In [ ]:
# CARGA DATOS ASIG_ALUMNOS

operacion = 'INSERT INTO asig_alumno (asig_alumno_id, alumno_id, asignatura_id, nota) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asig_alumnos)
conn.commit()

In [ ]:
# DATOS ASIG_PROFESORES

profesor_id = list()
for i in profesores:
    profesor_id.append(i[0])

asig_profesores = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 2:                # PONER UN 2 EN VEZ DE 20!!!!
        tupla_asig_prof = (count, random.choice(profesor_id), asig_ind[0])
        count += 1
        count_while += 1
        asig_profesores.append(tupla_asig_prof)

[(1, 11, 1),
 (2, 18, 1),
 (3, 12, 2),
 (4, 2, 2),
 (5, 16, 3),
 (6, 2, 3),
 (7, 9, 4),
 (8, 9, 4),
 (9, 17, 5),
 (10, 13, 5),
 (11, 1, 6),
 (12, 14, 6)]

In [ ]:
# CARGA DATOS ASIG_PROFESOR

operacion = 'INSERT INTO asig_profesor (asig_profesor_id, profesor_id, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, asig_profesores)
conn.commit()

In [ ]:
# DATOS EXAMEN

examenes = list()
count = 1
for asig_ind in asignatura:
    tupla_examen = (count,'2022-05-15', asig_ind[0])
    count += 1
    examenes.append(tupla_examen)

[(1, '2022-05-15', 1),
 (2, '2022-05-15', 2),
 (3, '2022-05-15', 3),
 (4, '2022-05-15', 4),
 (5, '2022-05-15', 5),
 (6, '2022-05-15', 6)]

In [ ]:
# CARGA DATOS EXAMEN

operacion = 'INSERT INTO examen (examen_id, fecha_examen, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, examenes)
conn.commit()
conn.close()