In [7]:
import mysql.connector as connection
import pandas as pd
import pymysql
import random

In [8]:
# PARA CONECTAR CUALQUIER BD RELACIONALES
usuario =  # completar usuario (dato Workbench)
contra =   # completar contraseña  (dato Workbench)
dominio =  # completar dominio (dato Workbench)
puerto =   # completar puerto (dato Workbench)
db = 'academia'

In [9]:
conn = pymysql.connect(host = dominio, user = usuario, passwd = contra, db = db)

In [10]:
cur = conn.cursor()

In [11]:
# VALORES TABLA ALUMNO

# Extracción datos de excel
df_alumno = pd.read_excel("datos.xlsx",sheet_name = "alumnos")
nombre_alumnos = df_alumno['nombre'].values
apellido_alumnos = df_alumno['apellido'].values


# Lista de tuplas con los valores de alumnos
alumnos = list()
count = 1
tlf_ant = 637830001

while count!= 100:
    tlf = tlf_ant+3
    tupla_alumnos = tuple()
    if count <= 25:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2021-09-10', '2022-06-15')
    else:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2022-09-10', None)
    tlf_ant = tlf
    alumnos.append(tupla_alumnos)
    count += 1

In [12]:
# CARGA DE VALORES ALUMNO

operacion = 'INSERT INTO alumno (alumno_id, nombre, apellido, telefono, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, alumnos)
conn.commit()

In [13]:
# VALORES TABLA PROFESOR

# Extracción datos de excel
df_profesor = pd.read_excel("datos.xlsx",sheet_name = "profesores")
nombre_profesores = df_profesor['nombre'].values
apellido_profesores = df_profesor['apellido'].values

# Lista de tuplas con los valores de profesores
profesores = list()
count = 1

while count!= 20:
    tupla_profesores = tuple()
    nombre = random.choice(nombre_profesores)
    apellido = random.choice(apellido_profesores)
    mail = nombre.replace(' ','').lower() + '.' + apellido.replace(' ','').lower() + '@academia.com'
    if count <= 25:
        tupla_profesores = (count, nombre, apellido, mail, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_profesores = (count, nombre, apellido, mail, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_profesores = (count, nombre, apellido, mail, '2021-09-10', '2022-06-15')
    else:
        tupla_profesores = (count, nombre, apellido, mail, '2022-09-10', None)
    profesores.append(tupla_profesores)
    count += 1

In [14]:
# CARGA DE VALORES PROFESOR

operacion = 'INSERT INTO profesor (profesor_id, nombre, apellido, mail, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, profesores)
conn.commit()

In [15]:
# DATOS ASIGNATURAS

asignatura = [(1,'LENGUA', '2021-09-10', '2022-06-15'),
                (2,'MATEMATICAS', '2021-09-10', '2022-06-15'),
                (3, 'FILOSOFIA', '2021-09-10', '2022-06-15'),
                (4, 'HISTORIA', '2021-09-10', '2022-06-15'),
                (5, 'PLASTICA', '2021-09-10', '2022-06-15'),
                (6, 'CIENCIAS NATURALES', '2021-09-10', '2022-06-15')
                ]

In [16]:
# CARGA DATOS ASIGNATURAS

operacion = 'INSERT INTO asignatura (asignatura_id, nombre, fecha_inicio, fecha_fin) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asignatura)
conn.commit()

In [17]:
# DATOS ASIG_ALUMNOS

alumno_id = list()
for i in alumnos:
    alumno_id.append(i[0])

asig_alumnos = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 20:
        tupla_asig_alum = (count, random.choice(alumno_id), asig_ind[0], random.randint(1,10))
        count += 1
        count_while += 1
        asig_alumnos.append(tupla_asig_alum)

In [18]:
# CARGA DATOS ASIG_ALUMNOS

operacion = 'INSERT INTO asig_alumno (asig_alumno_id, alumno_id, asignatura_id, nota) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asig_alumnos)
conn.commit()

In [19]:
# DATOS ASIG_PROFESORES

profesor_id = list()
for i in profesores:
    profesor_id.append(i[0])

asig_profesores = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 2:                # PONER UN 2 EN VEZ DE 20!!!!
        tupla_asig_prof = (count, random.choice(profesor_id), asig_ind[0])
        count += 1
        count_while += 1
        asig_profesores.append(tupla_asig_prof)

In [20]:
# CARGA DATOS ASIG_PROFESOR

operacion = 'INSERT INTO asig_profesor (asig_profesor_id, profesor_id, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, asig_profesores)
conn.commit()

In [21]:
# DATOS EXAMEN

examenes = list()
count = 1
for asig_ind in asignatura:
    tupla_examen = (count,'2022-05-15', asig_ind[0])
    count += 1
    examenes.append(tupla_examen)

In [22]:
# CARGA DATOS EXAMEN

operacion = 'INSERT INTO examen (examen_id, fecha_examen, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, examenes)
conn.commit()
conn.close()