In [1]:
import mysql.connector as connection
import pandas as pd
import pymysql
import random

In [2]:
# PARA CONECTAR CUALQUIER BD RELACIONALES
usuario = 'root'        # completar usuario (dato Workbench)
contra = 'root'         # completar contraseña  (dato Workbench)
dominio = 'localhost'   # completar dominio (dato Workbench)
puerto = '3306'         # completar puerto (dato Workbench)
db = 'academia'

In [3]:
conn = pymysql.connect(host = dominio, user = usuario, passwd = contra, db = db)

In [4]:
cur = conn.cursor()

In [5]:
# VALORES TABLA ALUMNO

# Extracción datos de excel
df_alumno = pd.read_excel("datos.xlsx",sheet_name = "alumnos")
nombre_alumnos = df_alumno['nombre'].values
apellido_alumnos = df_alumno['apellido'].values


# Lista de tuplas con los valores de alumnos
alumnos = list()
count = 1
tlf_ant = 637830001

while count!= 100:
    tlf = tlf_ant+3
    tupla_alumnos = tuple()
    if count <= 25:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2021-09-10', '2022-06-15')
    else:
        tupla_alumnos = (count, random.choice(nombre_alumnos), random.choice(apellido_alumnos), tlf, '2022-09-10', None)
    tlf_ant = tlf
    alumnos.append(tupla_alumnos)
    count += 1

alumnos

[(1, 'Luis Felipe', 'Moreno Chávez', 637830004, '2019-09-10', '2020-06-15'),
 (2, 'Jessica Liliana', 'Espejo Ramos', 637830007, '2019-09-10', '2020-06-15'),
 (3, 'Lisset Vianey', 'Aelín', 637830010, '2019-09-10', '2020-06-15'),
 (4, 'Pablo', 'Gómez Vargas', 637830013, '2019-09-10', '2020-06-15'),
 (5, 'Pablo', 'Flores Aguilar', 637830016, '2019-09-10', '2020-06-15'),
 (6, 'Yaír Jofrá', 'Rodríguez Jiménez', 637830019, '2019-09-10', '2020-06-15'),
 (7, 'José Ignacio', 'Ruiz vasquez', 637830022, '2019-09-10', '2020-06-15'),
 (8, 'Hansel Andres', 'Nuñez Garcia', 637830025, '2019-09-10', '2020-06-15'),
 (9,
  'José Ignacio',
  'Hernández Palacios',
  637830028,
  '2019-09-10',
  '2020-06-15'),
 (10, 'Aniyensy Sarai', 'Pérez Moreno', 637830031, '2019-09-10', '2020-06-15'),
 (11, 'Diana Laura', 'Aelín', 637830034, '2019-09-10', '2020-06-15'),
 (12,
  'Montserrat Carolina',
  'GONZÁLEZ DÍAZ',
  637830037,
  '2019-09-10',
  '2020-06-15'),
 (13, 'Lisset Vianey', 'Espejo Ramos', 637830040, '2019-09-10', '2020-06-15'),
 (14, 'María', 'GONZÁLEZ DÍAZ', 637830043, '2019-09-10', '2020-06-15'),
 (15, 'Juan', 'GUILLEN MARIN', 637830046, '2019-09-10', '2020-06-15'),
 (16,
  'Adriana Azzeneth\xa0',
  'Lara Agapito',
  637830049,
  '2019-09-10',
  '2020-06-15'),
 (17,
  'José Ignacio',
  'Hernández Prado',
  637830052,
  '2019-09-10',
  '2020-06-15'),
 (18, 'Eduardo Elihu', 'Parga Fuentes', 637830055, '2019-09-10', '2020-06-15'),
 (19, 'Tlalpujahua', 'de jesús Ramos', 637830058, '2019-09-10', '2020-06-15'),
 (20, 'Yaír Jofrá', 'Maximov Cortés', 637830061, '2019-09-10', '2020-06-15'),
 (21, 'Rosa Luz\xa0', 'Delgado Barrón', 637830064, '2019-09-10', '2020-06-15'),
 (22,
  'Esteban\xa0',
  'Hernández Palacios',
  637830067,
  '2019-09-10',
  '2020-06-15'),
 (23, 'Pablo', 'Maximov Cortés', 637830070, '2019-09-10', '2020-06-15'),
 (24, 'Diana Laura', 'GONZÁLEZ DÍAZ', 637830073, '2019-09-10', '2020-06-15'),
 (25, 'José Ignacio', 'Vega Hernández', 637830076, '2019-09-10', '2020-06-15'),
 (26, 'María', 'Lunar Pérez', 637830079, '2020-09-10', '2021-06-15'),
 (27,
  'Adriana Azzeneth\xa0',
  'GONZÁLEZ DÍAZ',
  637830082,
  '2020-09-10',
  '2021-06-15'),
 (28,
  'Montserrat Carolina',
  'Hernández Prado',
  637830085,
  '2020-09-10',
  '2021-06-15'),
 (29, 'Juan', 'García Arreguín', 637830088, '2020-09-10', '2021-06-15'),
 (30,
  'Daniela Ivette\xa0',
  'Maximov Cortés',
  637830091,
  '2020-09-10',
  '2021-06-15'),
 (31, 'Tlalpujahua', 'TRIANA AVILA', 637830094, '2020-09-10', '2021-06-15'),
 (32, 'Rosa Luz\xa0', 'Gómez Vargas', 637830097, '2020-09-10', '2021-06-15'),
 (33,
  'Danna Verónica',
  'de jesús Ramos',
  637830100,
  '2020-09-10',
  '2021-06-15'),
 (34, 'Abigali', 'Lunar Pérez', 637830103, '2020-09-10', '2021-06-15'),
 (35, 'Julia Andrea', 'GUILLEN MARIN', 637830106, '2020-09-10', '2021-06-15'),
 (36, 'Yail Tsayam\xa0', 'Reyes Báez', 637830109, '2020-09-10', '2021-06-15'),
 (37, 'Pablo Yamild', 'Ruiz vasquez', 637830112, '2020-09-10', '2021-06-15'),
 (38, 'aranxa', 'Reyes Báez', 637830115, '2020-09-10', '2021-06-15'),
 (39,
  'Erandhi Claudel',
  'Maximov Cortés',
  637830118,
  '2020-09-10',
  '2021-06-15'),
 (40, 'aranxa', 'Hernández Prado', 637830121, '2020-09-10', '2021-06-15'),
 (41, 'Itzel', 'Pérez Moreno', 637830124, '2020-09-10', '2021-06-15'),
 (42, 'JAIRO DAVID', 'García Orozco', 637830127, '2020-09-10', '2021-06-15'),
 (43,
  'Irma Carolina\xa0',
  'Rosiles Loeza',
  637830130,
  '2020-09-10',
  '2021-06-15'),
 (44, 'Julia Andrea', 'García Orozco', 637830133, '2020-09-10', '2021-06-15'),
 (45, 'ROCIO', 'Torres Rojas\xa0', 637830136, '2020-09-10', '2021-06-15'),
 (46, 'Pablo', 'Guerrero Padrés', 637830139, '2020-09-10', '2021-06-15'),
 (47, 'Pablo', 'Torres Rojas\xa0', 637830142, '2020-09-10', '2021-06-15'),
 (48, 'KARINA', 'Gómez Vargas', 637830145, '2020-09-10', '2021-06-15'),
 (49,
  'MITZI GUADALUPE\xa0',
  'Nuñez Garcia',
  637830148,
  '2020-09-10',
  '2021-06-15'),
 (50, 'KARINA', 'GUILLEN MARIN', 637830151, '2020-09-10', '2021-06-15'),
 (51, 'Yaír Jofrá', 'Maximov Cortés', 637830154, '2021-09-10', '2022-06-15'),
 (52, 'Abigali', 'GONZÁLEZ DÍAZ', 637830157, '2021-09-10', '2022-06-15'),
 (53, 'Mariana', 'de jesús Ramos', 637830160, '2021-09-10', '2022-06-15'),
 (54, 'Pablo', 'Rodríguez Jiménez', 637830163, '2021-09-10', '2022-06-15'),
 (55, 'Eduardo Elihu', 'Meré Hidalgo', 637830166, '2021-09-10', '2022-06-15'),
 (56, 'Miguel Ángel', 'GONZÁLEZ DÍAZ', 637830169, '2021-09-10', '2022-06-15'),
 (57,
  'Irma Carolina\xa0',
  'Hernández Prado',
  637830172,
  '2021-09-10',
  '2022-06-15'),
 (58,
  'MITZI GUADALUPE\xa0',
  'González Trejo',
  637830175,
  '2021-09-10',
  '2022-06-15'),
 (59,
  'Eduardo Elihu',
  'Rodríguez Jiménez',
  637830178,
  '2021-09-10',
  '2022-06-15'),
 (60,
  'Cipriano Ariel',
  'Moreno Chávez',
  637830181,
  '2021-09-10',
  '2022-06-15'),
 (61, 'José Ignacio', 'Gómez Vargas', 637830184, '2021-09-10', '2022-06-15'),
 (62, 'Mariana', 'GUILLEN MARIN', 637830187, '2021-09-10', '2022-06-15'),
 (63, 'Esteban\xa0', 'TRIANA AVILA', 637830190, '2021-09-10', '2022-06-15'),
 (64, 'Hansel Andres', 'Aelín', 637830193, '2021-09-10', '2022-06-15'),
 (65, 'aranxa', 'Parga Fuentes', 637830196, '2021-09-10', '2022-06-15'),
 (66, 'Diana Laura', 'Perez', 637830199, '2021-09-10', '2022-06-15'),
 (67,
  'Yail Tsayam\xa0',
  'Maximov Cortés',
  637830202,
  '2021-09-10',
  '2022-06-15'),
 (68,
  'Aniyensy Sarai',
  'Zamora Peinado',
  637830205,
  '2021-09-10',
  '2022-06-15'),
 (69,
  'Irma Carolina\xa0',
  'de jesús Ramos',
  637830208,
  '2021-09-10',
  '2022-06-15'),
 (70,
  'Lisset Vianey',
  'Zamora Peinado',
  637830211,
  '2021-09-10',
  '2022-06-15'),
 (71, 'María', 'GONZÁLEZ DÍAZ', 637830214, '2021-09-10', '2022-06-15'),
 (72,
  'Jessica Liliana',
  'Meré Hidalgo',
  637830217,
  '2021-09-10',
  '2022-06-15'),
 (73,
  'Montserrat Carolina',
  'Delgado Barrón',
  637830220,
  '2021-09-10',
  '2022-06-15'),
 (74,
  'Daniela Ivette\xa0',
  'Rosiles Loeza',
  637830223,
  '2021-09-10',
  '2022-06-15'),
 (75,
  'Miguel Alejandro',
  'Zamora Peinado',
  637830226,
  '2021-09-10',
  '2022-06-15'),
 (76, 'Jessica Liliana', 'Maximov Cortés', 637830229, '2022-09-10', None),
 (77, 'Pablo Yamild', 'Torres Rojas\xa0', 637830232, '2022-09-10', None),
 (78, 'ROCIO', 'Pérez Moreno', 637830235, '2022-09-10', None),
 (79, 'Lisset Vianey', 'González Trejo', 637830238, '2022-09-10', None),
 (80, 'Jaime Daniel', 'González Trejo', 637830241, '2022-09-10', None),
 (81, 'Daniela Ivette\xa0', 'Moreno Reveles', 637830244, '2022-09-10', None),
 (82, 'Aniyensy Sarai', 'SALDIVAR OMAÑA', 637830247, '2022-09-10', None),
 (83, 'Adriana Azzeneth\xa0', 'Delgado Barrón', 637830250, '2022-09-10', None),
 (84, 'Danna Verónica', 'Ruiz vasquez', 637830253, '2022-09-10', None),
 (85, 'Mariana', 'SALDIVAR OMAÑA', 637830256, '2022-09-10', None),
 (86, 'Miguel Ángel', 'Meré Hidalgo', 637830259, '2022-09-10', None),
 (87, 'José Ignacio', 'Reyes Báez', 637830262, '2022-09-10', None),
 (88, 'Luis Fernando', 'Hernández Prado', 637830265, '2022-09-10', None),
 (89, 'Ariana\xa0', 'Ornelas Guzmán', 637830268, '2022-09-10', None),
 (90, 'Luis Felipe', 'Ortega Romero', 637830271, '2022-09-10', None),
 (91, 'Miguel Ángel', 'Hernández Palacios', 637830274, '2022-09-10', None),
 (92, 'Lisset Vianey', 'Pérez Moreno', 637830277, '2022-09-10', None),
 (93, 'Ariana\xa0', 'Delgado Barrón', 637830280, '2022-09-10', None),
 (94, 'aranxa', 'TRIANA AVILA', 637830283, '2022-09-10', None),
 (95, 'ROCIO', 'GUILLEN MARIN', 637830286, '2022-09-10', None),
 (96, 'Jessica Liliana', 'Vega Hernández', 637830289, '2022-09-10', None),
 (97, 'Erandhi Claudel', 'Pérez Moreno', 637830292, '2022-09-10', None),
 (98, 'Esteban\xa0', 'Hernández González', 637830295, '2022-09-10', None),
 (99, 'ROCIO', 'Moreno Chávez', 637830298, '2022-09-10', None)]

In [6]:
# CARGA DE VALORES ALUMNO

operacion = 'INSERT INTO alumno (alumno_id, nombre, apellido, telefono, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, alumnos)
conn.commit()

In [7]:
# VALORES TABLA PROFESOR

# Extracción datos de excel
df_profesor = pd.read_excel("datos.xlsx",sheet_name = "profesores")
nombre_profesores = df_profesor['nombre'].values
apellido_profesores = df_profesor['apellido'].values

# Lista de tuplas con los valores de profesores
profesores = list()
count = 1

while count!= 20:
    tupla_profesores = tuple()
    nombre = random.choice(nombre_profesores)
    apellido = random.choice(apellido_profesores)
    mail = nombre.replace(' ','').lower() + '.' + apellido.replace(' ','').lower() + '@academia.com'
    if count <= 25:
        tupla_profesores = (count, nombre, apellido, mail, '2019-09-10', '2020-06-15')
    elif 25 < count <= 50:
        tupla_profesores = (count, nombre, apellido, mail, '2020-09-10', '2021-06-15')
    elif 50 < count <= 75:
        tupla_profesores = (count, nombre, apellido, mail, '2021-09-10', '2022-06-15')
    else:
        tupla_profesores = (count, nombre, apellido, mail, '2022-09-10', None)
    profesores.append(tupla_profesores)
    count += 1

profesores

[(1,
  'Paula',
  'Lopez Alonso',
  'paula.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (2,
  'Alejandro',
  'Lopez Alonso',
  'alejandro.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (3,
  'Almudena',
  'Roble del Amo',
  'almudena.robledelamo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (4,
  'Alejandro',
  'Lopez Alonso',
  'alejandro.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (5,
  'Almudena',
  'Gomez de Robledo',
  'almudena.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (6,
  'Aurora',
  'Romero Garcia',
  'aurora.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (7,
  'Alejandro',
  'Garcia Noble',
  'alejandro.garcianoble@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (8,
  'Paula',
  'Romero Garcia',
  'paula.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (9,
  'Almudena',
  'Gomez de Robledo',
  'almudena.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (10,
  'Fernando',
  'Romero Garcia',
  'fernando.romerogarcia@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (11,
  'Alejandro',
  'Roble del Amo',
  'alejandro.robledelamo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (12,
  'Alejandro',
  'Diaz Serrano',
  'alejandro.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (13,
  'Paula',
  'Gomez de Robledo',
  'paula.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (14,
  'Alejandro',
  'Diaz Serrano',
  'alejandro.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (15,
  'Pablo',
  'Diaz Serrano',
  'pablo.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (16,
  'Fernando',
  'Diaz Serrano',
  'fernando.diazserrano@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (17,
  'Pablo',
  'Lopez Alonso',
  'pablo.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (18,
  'Alejandro',
  'Gomez de Robledo',
  'alejandro.gomezderobledo@academia.com',
  '2019-09-10',
  '2020-06-15'),
 (19,
  'Paula',
  'Lopez Alonso',
  'paula.lopezalonso@academia.com',
  '2019-09-10',
  '2020-06-15')]

In [8]:
# CARGA DE VALORES PROFESOR

operacion = 'INSERT INTO profesor (profesor_id, nombre, apellido, mail, fecha_alta, fecha_baja) VALUES (%s, %s, %s, %s, %s, %s)'
cur.executemany(operacion, profesores)
conn.commit()

In [9]:
# DATOS ASIGNATURAS

asignatura = [(1,'LENGUA', '2021-09-10', '2022-06-15'),
                (2,'MATEMATICAS', '2021-09-10', '2022-06-15'),
                (3, 'FILOSOFIA', '2021-09-10', '2022-06-15'),
                (4, 'HISTORIA', '2021-09-10', '2022-06-15'),
                (5, 'PLASTICA', '2021-09-10', '2022-06-15'),
                (6, 'CIENCIAS NATURALES', '2021-09-10', '2022-06-15')
                ]

asignatura

[(1, 'LENGUA', '2021-09-10', '2022-06-15'),
 (2, 'MATEMATICAS', '2021-09-10', '2022-06-15'),
 (3, 'FILOSOFIA', '2021-09-10', '2022-06-15'),
 (4, 'HISTORIA', '2021-09-10', '2022-06-15'),
 (5, 'PLASTICA', '2021-09-10', '2022-06-15'),
 (6, 'CIENCIAS NATURALES', '2021-09-10', '2022-06-15')]

In [10]:
# CARGA DATOS ASIGNATURAS

operacion = 'INSERT INTO asignatura (asignatura_id, nombre, fecha_inicio, fecha_fin) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asignatura)
conn.commit()

In [11]:
# DATOS ASIG_ALUMNOS

alumno_id = list()
for i in alumnos:
    alumno_id.append(i[0])

asig_alumnos = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 20:
        tupla_asig_alum = (count, random.choice(alumno_id), asig_ind[0], random.randint(1,10))
        count += 1
        count_while += 1
        asig_alumnos.append(tupla_asig_alum)
   

asig_alumnos

[(1, 79, 1, 6),
 (2, 57, 1, 9),
 (3, 43, 1, 5),
 (4, 40, 1, 8),
 (5, 69, 1, 2),
 (6, 35, 1, 1),
 (7, 47, 1, 7),
 (8, 7, 1, 10),
 (9, 69, 1, 1),
 (10, 33, 1, 4),
 (11, 99, 1, 3),
 (12, 73, 1, 9),
 (13, 32, 1, 10),
 (14, 19, 1, 5),
 (15, 90, 1, 7),
 (16, 57, 1, 2),
 (17, 39, 1, 2),
 (18, 72, 1, 2),
 (19, 67, 1, 5),
 (20, 89, 1, 2),
 (21, 97, 2, 9),
 (22, 48, 2, 10),
 (23, 8, 2, 4),
 (24, 29, 2, 4),
 (25, 93, 2, 8),
 (26, 97, 2, 6),
 (27, 29, 2, 2),
 (28, 65, 2, 8),
 (29, 42, 2, 6),
 (30, 80, 2, 5),
 (31, 38, 2, 2),
 (32, 94, 2, 3),
 (33, 81, 2, 3),
 (34, 80, 2, 3),
 (35, 80, 2, 10),
 (36, 85, 2, 5),
 (37, 81, 2, 3),
 (38, 36, 2, 5),
 (39, 58, 2, 2),
 (40, 90, 2, 5),
 (41, 31, 3, 2),
 (42, 83, 3, 5),
 (43, 8, 3, 7),
 (44, 21, 3, 6),
 (45, 89, 3, 6),
 (46, 40, 3, 6),
 (47, 43, 3, 9),
 (48, 70, 3, 1),
 (49, 38, 3, 3),
 (50, 25, 3, 5),
 (51, 23, 3, 1),
 (52, 73, 3, 3),
 (53, 13, 3, 7),
 (54, 79, 3, 9),
 (55, 18, 3, 3),
 (56, 21, 3, 10),
 (57, 25, 3, 9),
 (58, 27, 3, 7),
 (59, 81, 3, 4),
 (60, 60, 3, 6),
 (61, 43, 4, 6),
 (62, 30, 4, 1),
 (63, 50, 4, 2),
 (64, 32, 4, 3),
 (65, 31, 4, 9),
 (66, 23, 4, 4),
 (67, 16, 4, 3),
 (68, 74, 4, 2),
 (69, 1, 4, 6),
 (70, 91, 4, 2),
 (71, 11, 4, 6),
 (72, 31, 4, 9),
 (73, 76, 4, 2),
 (74, 56, 4, 10),
 (75, 24, 4, 9),
 (76, 44, 4, 3),
 (77, 61, 4, 2),
 (78, 16, 4, 6),
 (79, 1, 4, 2),
 (80, 92, 4, 7),
 (81, 37, 5, 5),
 (82, 64, 5, 8),
 (83, 73, 5, 1),
 (84, 90, 5, 3),
 (85, 60, 5, 10),
 (86, 50, 5, 1),
 (87, 11, 5, 7),
 (88, 23, 5, 3),
 (89, 28, 5, 5),
 (90, 17, 5, 5),
 (91, 1, 5, 1),
 (92, 13, 5, 2),
 (93, 85, 5, 10),
 (94, 56, 5, 9),
 (95, 87, 5, 5),
 (96, 49, 5, 4),
 (97, 68, 5, 6),
 (98, 10, 5, 6),
 (99, 58, 5, 7),
 (100, 24, 5, 8),
 (101, 33, 6, 5),
 (102, 1, 6, 9),
 (103, 89, 6, 5),
 (104, 94, 6, 9),
 (105, 55, 6, 1),
 (106, 67, 6, 5),
 (107, 86, 6, 4),
 (108, 5, 6, 9),
 (109, 71, 6, 2),
 (110, 23, 6, 1),
 (111, 79, 6, 1),
 (112, 17, 6, 4),
 (113, 39, 6, 10),
 (114, 12, 6, 4),
 (115, 53, 6, 4),
 (116, 57, 6, 6),
 (117, 96, 6, 8),
 (118, 75, 6, 2),
 (119, 30, 6, 7),
 (120, 76, 6, 3)]

In [12]:
# CARGA DATOS ASIG_ALUMNOS

operacion = 'INSERT INTO asig_alumno (asig_alumno_id, alumno_id, asignatura_id, nota) VALUES (%s, %s, %s, %s)'
cur.executemany(operacion, asig_alumnos)
conn.commit()

In [13]:
# DATOS ASIG_PROFESORES

profesor_id = list()
for i in profesores:
    profesor_id.append(i[0])

asig_profesores = list()
count = 1
for asig_ind in asignatura:
    count_while = 1
    while count_while <= 2:                # PONER UN 2 EN VEZ DE 20!!!!
        tupla_asig_prof = (count, random.choice(profesor_id), asig_ind[0])
        count += 1
        count_while += 1
        asig_profesores.append(tupla_asig_prof)
   

asig_profesores

[(1, 11, 1),
 (2, 18, 1),
 (3, 12, 2),
 (4, 2, 2),
 (5, 16, 3),
 (6, 2, 3),
 (7, 9, 4),
 (8, 9, 4),
 (9, 17, 5),
 (10, 13, 5),
 (11, 1, 6),
 (12, 14, 6)]

In [14]:
# CARGA DATOS ASIG_PROFESOR

operacion = 'INSERT INTO asig_profesor (asig_profesor_id, profesor_id, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, asig_profesores)
conn.commit()

In [15]:
# DATOS EXAMEN

examenes = list()
count = 1
for asig_ind in asignatura:
    tupla_examen = (count,'2022-05-15', asig_ind[0])
    count += 1
    examenes.append(tupla_examen)
    
examenes

[(1, '2022-05-15', 1),
 (2, '2022-05-15', 2),
 (3, '2022-05-15', 3),
 (4, '2022-05-15', 4),
 (5, '2022-05-15', 5),
 (6, '2022-05-15', 6)]

In [16]:
# CARGA DATOS EXAMEN

operacion = 'INSERT INTO examen (examen_id, fecha_examen, asignatura_id) VALUES (%s, %s, %s)'
cur.executemany(operacion, examenes)
conn.commit()
conn.close()